<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array/>
	<key>NSCameraUsageDescription</key>
	<string>Cette application a besoin d'accéder à votre caméra pour vous permettre de prendre des photos pour vos offres et votre établissement.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Cette application a besoin d'accéder à votre bibliothèque photo pour vous permettre de sélectionner des images pour vos offres et votre établissement.</string>
</dict>
</plist>
